<h2>Latest posts:</h2>
<br />

<% @results.each do |post| %>
	<p>
		<%= post['Content'] %>
		<br />
		<br />		
		Added at: <%= post['Created_date'] %>
		<br />	
		<br />			
		<a href="/post/<%= post['id'] %>">Comments</a>
	</p>
	<hr />

<% end %>